th {
    background: rgb(50,50,50);
    color: white;
    text-align: center;
    border: 1px solid;
}

#gradeTable {
    width: 100%;
    height: auto;
    /* margin: auto; */
    border-collapse: collapse; 
    font-family: 'Courier New', Courier, monospace;
}

th, tr, td{
    border: 1px solid black;
}

.name, .id{
    text-align: left;
}

.assignment, .average {
    text-align: center;
    background-color: yellow;
}


tr:nth-child(even){
    background: rgb(150, 150, 150);
}


.cellcount {

    text-align: right;
    position: relative;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;

    font-family: 'Courier New', monospace;
}

.butt1 {

    position: relative;
    display: inline-block;
    margin: auto;
    margin-left: 5%;
    margin-top: 10px;
    font-family: 'Courier New', monospace
}

.butt2 {

    position: relative;
    display: inline-block;
    margin: auto;
    margin-right: 5%;
    margin-top: 10px;
    font-family: 'Courier New', monospace
}


